/*colors light-mode*/
.light_mode {
    --body_background: #f2f2f2f1;
    --header-background: #fff;
    --text: #000;
    --header-hover: #5a65fd;
    --header-main-button: hsla(236, 98%, 67%, 0.15);
    --slider_background: #ffffff;
    --sticky-selected-color: white;
    --stickynav-background:hsla(236, 98%, 67%, 0.15);
    --stickynav-border: rgba(255, 255, 255, 0.473);
    --sale-background: #2b6777;
    --sale-hover: rgba(90,101,253,0.5);
    --product-text-background: white;
    --product-background: #c8d8e4;
    --product-text: black;
    --product-title: black;
    --product-button: #03a2f6;
    --product-link: white;
    --product-link-hover: #52ab98;
    --footer-background: rgb(179, 179, 179);
    --footer-link: black;
    --footer-link-hover: #03a2f6;
    --filter: 0%;
    --filter_hover: 100%;
    --box_shadow_1a: #0000001a;
    --box_shadow_cc: #000000cc;
    --grey: grey;
    --default: black;
    --account_nav_background: #d0d3d4;
    --account_nav_main: hsl(192, 100%, 14%);
    --account_nav_text: white;
    --buy-btn-text: white;
    --qty-btn-hover: #52ab98;
    --sticky-cart-bottom: #52ab98;
}

/*colors dark-mode*/
.dark_mode {
    --header-main-button: #0070c9;
    --header-hover: #5a65fd;
    --body_background: #121212f8;
    --header-background: #121212;
    --text: #c9d1d9;
    --slider_background : #121212;
    --sticky-selected: #52ab98;
    --sticky-selected-color: #121212;
    --stickynav-background: hsla(0, 0%, 0%, 0.75);
    --stickynav-border: rgba(255, 255, 255, 0.473);
    --stickynav-split: white;
    --sale-background: #142F43;
    --product-img-background: #313030;
    --product-background: #080808;
    --product-text: #c9c6c6;
    --product-text-background: #121212f8;
    --product-title: white;
    --product-button: #03a2f6;
    --product-link: white;
    --product-link-hover: #52ab98;
    --footer-background: #1f1f1f;
    --footer-link: black;
    --footer-link-hover: #03a2f6;
    --filter: 100%;
    --filter_hover: 0%;
    --box_shadow_1a: #ffffff1a;
    --box_shadow_cc: #ffffff1a;
    --grey: grey;
    --default: white;
    --account_nav_background: #222831;
    --account_nav_main: #892CDC;
    --account_nav_text: white;
    --buy-btn-text: black;
    --qty-btn-hover: #8a2cdcb6;
    --sticky-cart-bottom: #892CDC;
}