@media screen and (min-width: 768px) {

/*MAIN*/
      
main {
  margin-bottom: 5%;
}
main, body > nav > ul{
  width: 80%;
  margin-left: 10%;
}

/*STICKY NAV*/
body > nav ul div {
  padding: 8px 0;
}
body > nav > ul div p{
  font-size: 20px;
}

body > nav ul li img {
  width: 35px;
}
/*fill effect of the navbar*/
body > nav > ul div:hover {
  transition-duration: 1s;
  transform-origin: bottom;
  box-shadow: inset 0 -80px 0 0 var(--default);
}
body > nav > ul > li:hover a {
  transition-duration: 1s;
  color: var(--sticky-selected-color);
}
body > nav > ul > li:hover a img{
  transition-duration: 1s;
  transform-origin: bottom;
  filter: invert(var(--filter_hover));
}
.sticky li div {
  padding: 25px;
}
.sticky li div p {
  font-size: 15px;
  font-weight: bold;
}

/*FOOTER*/

body > footer {
  text-align: center;
}
body > footer section {
  color: var(--default);
  display: inline-block;
  padding-left: 107px;
}
body > footer section:first-of-type {
  float: left;
  padding-left: 0;
}
body > footer section:last-of-type {
  float: right;
  padding-left: 0;
}
body > footer section + section:before {
  border-top: hidden;
}

/*HEADER*/

header {
  background-color: var(--header-background);
}
header nav {
  text-align: left;
}
header nav div {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 50px;
}
header nav span a {
  padding: 20px 20px 20px 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  color: var(--text);
}
header nav span a:hover {
  color: initial;
}
header nav div:first-of-type {
  float: left;
}
header nav div:not(:first-of-type) {
  box-sizing: border-box;
  float: right;
  border-radius: 20px;
}
header nav div:nth-child(2) {
  margin-right: 10px;
  background-color: var(--header-main);
}
header nav div:nth-child(2) .dropdown-content{
  background-color: var(--account_nav_background);
}
header nav div a {
  color: var(--text);
  text-decoration: none;
}
header > nav a:hover {
  color: var(--header-hover);
}
header > nav > div:nth-child(2) > a {
  display: block;
  height: 100%;
  width: 100%;
}
header nav div:not(:first-of-type) a img {
  max-width: 50%;
  max-height: 50%;
  vertical-align: bottom;
  padding-top: 10px;
}
header nav div:not(:first-of-type) .dropdown-content a img {
  padding:0;
  margin-right: 50px;
} 
header nav div:first-of-type a img {
  max-height: 100%;
  max-width: 100%;
}
header nav div a p {
  font-size: 14px;
  display: inline;
}

/* HEADER-TOGGLE SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  top: 8px;
}
.switch p {
  display: inline-block;
  color: var(--grey);
  font-size: 9px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
      
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey);
  -webkit-transition: .4s;
  transition: .4s;
} 
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 0px;
  bottom: 2px;
  background-color: var(--slider_background);
  -webkit-transition: .4s;
  transition: .4s;
} 
input:checked + .slider {
  background-color: var(--default);
}
      
input:focus + .slider {
  box-shadow: 0 0 1px var(--default);
}
      
input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
      
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
      
.slider.round:before {
  border-radius: 50%;
}
main > article section {
  max-width: 400px;
}

/*SALE PRODUCTS*/

main > article > header > a {
  margin: 10px 0px;
}
main > article > ul {
  overflow: hidden;
  white-space: normal;
  text-align: center;
}
main > article > ul > li {
  width: 25%;
  margin: 0;
}
main > article > ul > li:hover img  {
  padding: 1px;
}

      
}
