body > nav ul.menu {
    position: fixed;
    list-style: none;
    background-color: var(--body_background);
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 3;
    transition: 0.15s; 
}
body > nav ul.menu li:first-of-type {
    border-top: 1px solid var(--text);
}
body > nav ul.menu li {
    margin: 0px 10px 0px 10px;
}
body > nav ul.menu li:hover {
    font-weight: bold;
    background-color: white;
}
body > nav ul.menu > li:last-of-type a{
    color: red;
}
body > nav ul.menu > li > a {
    text-decoration: none;
    color: var(--text);
    display: block;
    padding: 20px;
}
.visible {
    height: 100% !important;
}

/*NOTIFICATION*/
ul.notify {
    list-style: none;
    max-height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    position: absolute;
    height: 0;
    top: 0;
    overflow-y: scroll;
    z-index: 3;
}
ul.notify li:not(:first-of-type){
    padding: 10px 5px 0 5px;
    height: 100px;
}
ul.notify li {
    border-bottom: 1px solid rgb(231, 231, 231);
}
ul.notify li:first-of-type {
    padding: 10px 5px;
}
.new {
    border-left: 5px solid green;
}
@media screen and (min-width: 768px) {
    ul.notify {
        max-height: 40%;
        width: 30%;
        right: 30%;
        top: 200px;
    }
    ul.notify li:not(:first-of-type){
        border-bottom: 1px solid rgb(231, 231, 231);
        padding: 10px 5px 0 15px;
        height: 100px;
    }
    ul.notify li:first-of-type {
        padding: 10px 5px;
        cursor: pointer;
    }
}