html, body, ul, p{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.icon {
  filter: invert(var(--filter));
}
body {
  background-color: var(--body_background);
}
/*HEADER OF THE PAGE*/
header {
  background-color: var(--header-background);
}
header nav div {
  display: inline-block;
  text-align: center;
  padding: 10px 2px;
  width: 50px;
  height: 50px;
}
header nav h1 {
  font-size: 20px;
  display: inline-block;
  margin: 23px 0;
  color: var(--text);
}
header nav div:first-of-type {
  float: left;
}
header nav div:not(:first-of-type) {
  float: right;
}
header nav div a {
  color: var(--text);
  text-decoration: none;
  max-width: 40%;
  max-height: 40%;
}
header > nav a:hover {
  color: var(--header-hover);
}
header > nav > div > a:hover img{
  transform: rotate(360deg);
  transition-duration: 1s;
}
header nav div:not(:first-of-type) a img {
  max-width: 60%;
  max-height: 60%;
}
header nav div:first-of-type a img {
  max-height: 100%;
  max-width: 100%;
}
header nav div a p {
  font-size: 12px;
}
/* HEADER-TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  top: 8px;
}
.switch p {
  display: inline-block;
  color: var(--grey);
  font-size: 12px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 0px;
  bottom: 2px;
  background-color: var(--slider_background);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--default);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--default);
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*STICKY NAVBAR*/

body > nav > ul{
  list-style: none;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
  background: var(--stickynav-background);;
  box-shadow: 0 4px 3px var(--box_shadow_1a);
  backdrop-filter: blur(8.6px);
  border: 1px solid var(--stikynav-border);
}
body > nav > ul::-webkit-scrollbar{
  display: none;
}
body > nav ul li{
  text-decoration: none;
  display: inline-block;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
}
body > nav ul li:not(:last-of-type) {
  border-right: 1px solid var(--stickynav-split);
}
body > nav ul li div {
  margin: 3px;
}
body > nav ul li img {
  width: 30px;
}
body > nav > ul > li > div > a {
  font-size: 12px;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text);
}
/*MAIN*/

main > section:first-of-type{
  margin: 26px 0 30px 0;
} 

main > section > h2, main > h2{
  color: var(--text);
  margin-top: 0;
  text-align: center;
  font-size: xx-large;
  color: var(--default);
}

/*FOR SALE PRODUCTS*/
main > article {
  width: 100%;
  background-color: var(--sale-background); /*#5d3754 #52ab98*/
  white-space: nowrap;
  overflow: auto;
}
main > article > section {
  background-color: var(--product-background);
  max-width: 200px;
  height: 270px;
  margin: 40px 10px;
  box-shadow: 2px 2px 8px var(--box_shadow_cc);
  display: inline-block;
}
main > article header {
  border-radius: 5px;
}
main > article div {
  background-color: var(--product-img-background);
  height: 60%;
  padding: 3%;
  border-bottom: 1px solid var(--grey);
}
main > article img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
main > article footer {
  padding: 10px 10px;
}
main > article footer h3 {
  color: var(--product-title);
  margin: 0;
}
main > article a {
  float: right;
  text-decoration: none;
  padding: 5px;
  margin-top: -30px;
  border-radius: 20px;
  background-color: var(--product-button);
  color: var(--product-text);
  display: block;
}
main > article section footer p {
  color: var(--product-text);
}
main > article a:hover {
  background-color: var(--product-link-hover);
}

/*  BODY FOOTER */

body > footer {
  padding: 20px;
  background-color: var(--footer-background);
}
body > footer section {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--text);
  display: block;
  text-align: center;
}
body > footer section + section:before {
  content: "";
  border-top: 1px solid var(--text);
  width: 40%;
  display: block;
  margin: 0 auto;
}
body > footer section a{
  display: inline-block;
  text-decoration: none;
  color: var(--text);
  margin-right: 5px;
  width: 70px;
}
body > footer section a div {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 6%;
}
body > footer section a img{
  max-height: 95%;
  max-width: 95%;
}
body > footer section:not(:last-of-type) a:hover {
  color: var(--footer-link-hover);
}
body > footer section:not(:last-of-type) a:hover img{
  max-height: 100%;
  max-width: 100%;
  transition-duration: 0.2s;
  filter: sepia(100%);
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Make the images invisible by default */
  .Containers {
    display: none;
    overflow: hidden;
  }

  .Containers img{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
  }

main section:first-of-type div:not(:first-of-type){
  text-align: center;
}

  /* forward & Back buttons */
  .back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    margin: -23px 10px 0 10px;
    padding: 20px 26px;
    color: black;
    font-weight: bold;
    transition: 0.4s ease;
    border-radius: 1000px;
    border: 1px solid black;
  }
  
  /* Place the "forward button" to the right */
  .forward {
    right: 0;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .back:hover, .forward:hover {
    background-color: black;
    color: white;
  }
  
  /* Caption Info */
  .Info {
    color: black;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Worknumbering (1/3 etc) */
  .MessageInfo {
    color: black;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }
  
  /* The circles or bullets and indicators */
  .dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots:hover {
    background-color: #717161;
  }
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  z-index: 1;
	position: fixed;
  top: 0px;
}
.sticky li {
  padding: 15px;
}
.sticky li div a img {
  display: none;
}
/* Class added to Main tag to prevent "lags" when scrolling */
.content {
  padding-top: 50px;
}
.selected {
  background-color: var(--sticky-selected);
}
.selected a {
  color: var(--sticky-selected-color);
}
.selected a img {
  filter: invert(var(--filter));
}

/*colors light-mode*/
.light_mode {
 --body_background: #f2f2f2;
 --header-background: #fff;
 --text: #000;
 --header-hover: #52ab98;
 --slider_background: #ffffff;
 --sticky-selected: #52ab98;
 --sticky-selected-color: white;
 --stickynav-background: rgba(255, 255, 255, 0.6);
 --stickynav-split: black;
 --stikynav-border: rgba(255, 255, 255, 0.26);
 --sale-background: #2b6777;
 --product-img-background: white;
 --product-background: #c8d8e4;
 --product-text: black;
 --product-title: black;
 --product-button: #03a2f6;
 --product-link: white;
 --product-link-hover: #52ab98;
 --footer-background: rgb(179, 179, 179);
 --footer-link: black;
 --footer-link-hover: #03a2f6;
 --filter: 0%;
 --filter_hover: 100%;
 --box_shadow_1a: #0000001a;
 --box_shadow_cc: #000000cc;
 --grey: grey;
 --default: black;
}
/*--black_opacity_08: #000000cc;
--black_opacity_01: #0000001A;
--white: #ffffff;
--white_opacity_08: #ffffffcc;
--white-opacity_026: #ffffff42;
--violet: #5d3754;
--grey: #929292;
*/
.dark_mode {
  --body_background: #121212;
  --header-background: #121212;
  --text: #c9d1d9;;
  --header-hover: #52ab98;
  --slider_background : #121212;
  --sticky-selected: #52ab98;
  --sticky-selected-color: #121212;
  --stickynav-background: #12121299;
  --stickynav-split: white;
  --sale-background: #142F43;
  --product-img-background: #313030;
  --product-background: #080808;
  --product-text: #c9c6c6;
  --product-title: white;
  --product-button: #03a2f6;
  --product-link: white;
  --product-link-hover: #52ab98;
  --footer-background: #1f1f1f;
  --footer-link: black;
  --footer-link-hover: #03a2f6;
  --filter: 100%;
  --filter_hover: 0%;
  --box_shadow_1a: #ffffff1a;
  --box_shadow_cc: #ffffffcc;
  --grey: grey;
  --default: white;
 }
@media screen and (min-width: 768px) {

  body > nav > ul > li:hover {
    transition-duration: 1s;
    transform-origin: bottom;
    box-shadow: inset 0 -60px 0 0 var(--default);
  }
  body > nav > ul > li:hover a {
    transition-duration: 1s;
    color: var(--sticky-selected-color);
  }
  body > nav > ul > li:hover a img{
    transition-duration: 1s;
    transform-origin: bottom;
    filter: invert(var(--filter_hover));
  }
  body > footer {
    text-align: center;
  }
  body > footer section {
    color: var(--default);
    display: inline-block;
    padding-left: 107px;
  }
  body > footer section:first-of-type {
    float: left;
    padding-left: 0;
  }
  body > footer section:last-of-type {
    float: right;
    padding-left: 0;
  }
  body > footer section + section:before {
    border-top: hidden;
  }
}

